<body >
    <app-main-navbar style="overflow:hidden"></app-main-navbar>
    <div style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">
        <div class="formBackground" style="width: 60%; justify-content: center; align-items: center; height: 60vh;">
            <span 
            style="color: white; font-size: 3rem; font-weight: bold; width: 80%; height: 50%;
             text-align: center; display: flex; justify-content: center; align-items: center; line-height: 4rem;">
            Information System of Augmented Reality Lessons</span>
        </div>
    </div>
</body>